upstream high {
    server 127.0.0.1:81;
}

upstream medium {
    server 127.0.0.1:82;
}
    
server {
    listen 80;
    server_name localhost; 
  
    # Look up backend in Memcached.
    location /mapper/map-request/ {
        set_md5 $memcached_key $http_user_agent;
        memcached_pass ${memcached-supervisor:interface}:${memcached-supervisor:port};
        error_page 404 405 500 502 @mapper;
    }
    
    # Look up backend in UWSGI.
    location @mapper {
        include uwsgi_params;
        uwsgi_param MEMCACHED_SOCKET ${memcached-supervisor:interface}:${memcached-supervisor:port};
        uwsgi_pass ${uwsgi:socket};
    }
   
    # Pass request to user-agent appropriate backend.
    location / {
        # Lookup device backend.
        set $backend "";
        access_by_lua '
            ngx.var.backend = ngx.location.capture("/mapper/map-request/").body
            ngx.exit(ngx.OK)
        ';
        proxy_pass  http://$backend;
    }
}
